body{
    padding: 70px;
    background-image: linear-gradient(25deg, #EDD263,#e7ca57);
}
.food-search{
    display: flex;
    justify-content: center;
}
#food-input{
    margin-right: 5px;
    font-size: 25px;
    padding: 5px;
    border: 2px solid turquoise;
    border-radius: 7px;
    outline: none;
}

#search-button{
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

.img-title img{
    width: 270px;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 0px 5px gray;
}
.img-title{
    text-align: center;
    margin: auto;
}

#show-meals{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.title{
    background-color: white;
    padding: 10px;
    width: 270px;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    box-shadow: 2px 1px 5px gray;
}

#meal-image{
    width: 500px;
    border-radius: 10px;
}
#meal-name{
    margin-top: 20px;
}
#list-ingredient{
    font-size: 18px;
}

#show-Ingredient{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}

#sub-container img{
    display: block;
    margin: auto;
}
#inner-container{
    margin-left: 30px;
    padding-bottom: 10px;
}

#sub-container{
    margin-bottom: 50px;
}

