#country{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    
}
.countryName{
    text-align: center;
    font-size: 30px;
    color: goldenrod;
    
}
.countryCapital{
    text-align: center;
}
.country-info{
    border: 1px solid tomato;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    margin: auto;
}
.info-button{
    margin: auto;
    display: block;
}

#countryMoreInfo{
    background-color: grey;
    color: white;
    text-align: center;
    position: absolute;
    width: 500px;
    left: 35%;
    top: 20%;
}
#countryMoreInfo img{
    width: 250px;
}